<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <p>
        <strong>Volume:</strong>
        <%= @wanted.volume %> ac-ft
      </p>

      <p>
        <strong>Source:</strong>
        <%= @wanted.source %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @wanted.description %>
      </p>

      <p>
        <strong>Contact info:</strong>
        <%= @wanted.contact_info %>
      </p>

      <p>
        <strong>Listing area:</strong>
        <%= @wanted.listing_area.name %>
      </p>

      <%= link_to 'Edit', edit_wanted_path(@wanted) %>
    </div>
  </div>
</div>
